<?xml version="1.0" encoding="utf-8" ?> 
<configuration>
    <connectionStrings>   
        <add name="migague" 
             connectionString="Data Source=LEBLANC-PC\MIGAGUE; Initial Catalog=migague; User ID=migaguemaster; Password=migaguemaster"
             providerName="System.Data.SqlClient"/>
    </connectionStrings>
</configuration>